@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#content {
    margin: 0;
    height: 100vh;
    width: 100%;
}

.display-image {
    position: relative;
    height: 100vh;
    width: 100%;
}

.img-fluid {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.mycontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 60%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1024px) {
    .mycontent {
        min-height: 100%;
        width: 75%;
        /* Adjust the width for 1024px screens */
    }
}

@media (max-width: 820px) {
    .mycontent {
        min-height: 80%;
        width: 75%;
        /* Adjust the width for 820px screens */
    }
}

@media (max-width: 768px) {
    .mycontent {
        min-height: 85%;
        width: 80%;
        /* Adjust the width for 768px screens */
    }
}

@media (max-width: 414px) {
    .mycontent {
        min-height: 100%;
        width: 90%;
        /* Adjust the width for 414px screens */
    }
}

@media (max-width: 412px) {
    .mycontent {
        min-height: 95%;
        width: 85%;
        /* Adjust the width for 412px screens */
    }
}

@media (max-width: 390px) {
    .mycontent {
        min-height: 100%;
        width: 85%;
        /* Adjust the width for 390px screens */
    }
}

@media (max-width: 375px) {
    .mycontent {
        min-height: 120%;
        width: 85%;
        /* Adjust the width for 375px screens */
    }
}

.btn-teal {
    color: #fff;
    background-color: #78C2AD;
}

.btn-teal:hover {
    color: #fff;
    background-color: #56CC9D;
}

@media (max-width: 915px) {
    .btn-teal {
        width: 100%;
        position: relative;
        /* Adjust the width for 915px screens */
    }
}

.dashboard-span {
    font-weight: bold;
    color: #78C2AD;
}

.mycontent h2 {
    font-weight: bold;
    font-size: 2.6em;
    /* margin: 0.2em 0 0.1em; */
}

.oversee-h5 {
    font-weight: normal;
    margin: 0;
    padding: 10px 0 30px;
    /* shorthand css for padding => top , left & right , bottom */
}